<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compliance GPT</title>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
</head>

<body class="flex flex-col w-full h-screen bg-black text-white">

    <main id="mainDiv" class="flex flex-col w-full h-full justify-start items-center">
        <h1 class="text-3xl font-bold mt-8 mb-4 text-white">Compliance GPT</h1>

        <ul id="chat_responses"
            hx-ext="sse"
            sse-connect="/stream"
            sse-swap="message"
            hx-swap="beforeend"
            class="w-11/12 md:w-3/4 lg:w-2/3 p-4 mb-12 bg-black overflow-y-auto flex-grow"
            style="max-height: calc(100vh - 160px); overflow-x: hidden;">
        </ul>

        <form id="chat" class="flex w-full justify-center items-center px-4 mb-4"
            hx-post='/chat_submit'
            hx-target="#chat_responses"
            hx-swap="beforeend"
            hx-trigger="click from:#submitButton"
            hx-on="htmx:beforeRequest: 
                     htmx.find('#chat_responses').innerHTML += `<li class='text-white p-4 m-2'><strong>{{ username }}</strong> : ${htmx.find('#user_input').value}</li>`;
                     htmx.find('#user_input').value=''; 
                     htmx.find('#user_input').placeholder='Send a message'; 
                     window.scrollTo(0, htmx.find('#chat_responses').scrollHeight + 100); 
                     htmx.find('#user_input').focus();
                     htmx:afterRequest: window.scrollTo(0, htmx.find('#chat_responses').scrollHeight + 100);">

            <textarea rows="1" id="user_input" name="user_input" required
                class="rounded-full w-11/12 md:w-4/5 bg-gray-800 text-white p-4 shadow-xl resize-none text-sm"
                placeholder="Send a message" autofocus autocomplete="off"></textarea>

            <button id="submitButton" type="button"
                class="w-14 h-14 p-2 rounded-full bg-blue-600 hover:bg-blue-700 text-white text-center shadow-xl ml-4 flex items-center justify-center">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </form>
    </main>

    <script>
        htmx.find('#user_input').addEventListener('keydown', function(event) {
            // Check if Enter key is pressed without holding the Shift key
            if (event.key === 'Enter' && !event.shiftKey) {
                event.preventDefault();  // Prevent newline insertion
                htmx.trigger("#submitButton", "click");
            }
        });
    </script>
</body>

</html>
